{% extends 'bases/base1.html' %}

{% load static %}

{% block content %}


<main>
    <div style="background-color: #f8f7f0">
        <!-- breadcrumb-section start -->
        <section class="breadcrumb-section">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-xl-6 col-lg-6">
                        <div class="breadcrumb-content" style="
                    background-image: url(assets/img/bg/breadcrumb-bg.webp);
                  ">
                            <div class="breadcrumb-nav" data-aos="fade-up" data-aos-duration="1000"
                                data-aos-delay="200">
                                <ul>
                                    <li><a href='{% url "index" %}'>Accueil</a></li>
                                    <li><a href="{% url "about" %}">A propos</a></li>
                                </ul>
                            </div>
                            <div class="breadcrumb-title" data-aos="fade-up" data-aos-duration="1000"
                                data-aos-delay="400">
                                <h2>Qui sommes-nous</h2>
                            </div>
                            <div class="shape-1">
                                <img src="{% static 'assets/img/shapes/shape-1.webp' %}" alt="shape" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                        <div class="breadcrumb-thumb">
                            <img src="{% static 'assets/img/71.png' %}" alt="thumb" />
                            <a href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity"
                                data-fancybox="" class="video-play-btn">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-section end -->

        <!-- why-us-section start -->
        <section class="why-us-section-6 p-t-100 p-t-xs-80" style="
            background-image: url({% static 'assets/img/bg/why-us-bg.webp' %}),
              url({% static 'assets/img/bg/who-we-are-bg.webp' %});
          ">
            <div class="container">
                <div class="row align-items-center p-b-80">
                    <div class="col-xl-6">
                        <div class="thumb px-lg-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                            <div class="thumb-1">
                                <img src="{% static 'assets/img/80.jpg' %}" alt="" />
                                <div class="s-shape">
                                    <img src="{% static 'assets/img/shapes/shape-14.webp' %}" alt="shape-1" />
                                </div>
                            </div>
                            <div class="thumb-2">
                                <img src="{% static 'assets/img/81.jpg' %}" alt="" />
                            </div>
                            <div class="thumb-3">
                                <div class="shape-wrapped-thumb">
                                    <img src="{% static 'assets/img/73.jpg' %}" alt="thumb-3" />
                                    <div class="experience-shape">
                                        <h3>
                                            <span class="purecounter" data-purecounter-duration="2"
                                                data-purecounter-end="3">0</span>+
                                        </h3>
                                        <p>Annees d'experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-us-content px-xxl-5 px-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class="common-subtitle">
                                <img src="{% static 'assets/img/icons/icon-2.svg' %}" alt="icon-2" />
                                <span>A propos</span>
                            </div>
                            <div class="common-title text-start">
                                <h2>Mieux pour vous, mieux pour la planète</h2>
                            </div>
                            <div class="c-tabs-wrapper">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="c-tab-1" data-bs-toggle="tab" data-bs-target="#c-tab-1-pane"
                                            type="button" role="tab" aria-controls="c-tab-1-pane" aria-selected="true">
                                            Notre Histoire
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="c-tab-2" data-bs-toggle="tab" data-bs-target="#c-tab-2-pane"
                                            type="button" role="tab" aria-controls="c-tab-2-pane" aria-selected="false">
                                            Notre Mission
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="c-tab-3" data-bs-toggle="tab" data-bs-target="#c-tab-3-pane"
                                            type="button" role="tab" aria-controls="c-tab-3-pane" aria-selected="false">
                                            Notre Vision
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="c-tab-1-pane" role="tabpanel" aria-labelledby="c-tab-1"
                                        tabindex="0">
                                        <div class="text">
                                            <p>
                                                Liyok Green a été fondée en 2022 par un groupe d'entrepreneurs passionnés par la protection
                                                de l'environnement et la durabilité. Depuis sa création, Liyok Green a été à la vanguardie
                                                des efforts pour promouvoir une société plus durable et plus responsable.
                                            </p>
                                        </div>
                                        <div class="benefits">
                                            <ul>
                                                <li>
                                                    Protection de l'environnement, encouragement du reboursement
                    
                                                </li>
                                                <li>
                                                    Promotion de la durabilité, encouragement du développement durable, l'adoptions des
                                                    energies renouvelables
                                                </li>
                                                <li>Encouragement du développement économique et social</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab-2-pane" role="tabpanel" aria-labelledby="c-tab-2" tabindex="0">
                                        <div class="text">
                                            <p>
                                                Contribuer activement à la protection de l'environnement et à la lutte contre le changement
                                                climatique
                                            </p>
                                        </div>
                                        <div class="benefits">
                                            <ul>
                                                <li>
                                                    Développer et proposer des projets permettant aux entreprises d'acquérir des crédits
                                                    carbone
                                                </li>
                                                <li>
                                                    Organiser des formations et des ateliers pour sensibiliser les acteurs de la chaîne
                                                    logistique aux enjeux
                                                    environnementaux et aux meilleures pratiques durables.
                                                </li>
                                                <li>Faciliter l'adoption de pratiques durables à travers des projets spécifiques, incluant
                                                    l'achat de crédits carbone.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab-3-pane" role="tabpanel" aria-labelledby="c-tab-3" tabindex="0">
                                        <div class="text">
                                            <p>
                                                aspire à devenir un leader reconnu dans le domaine de la durabilité, avec un impact tangible
                                                sur la réduction des
                                                émissions de CO2 et l'amélioration des pratiques RSE au sein de la chaîne logistique
                                                mondiale.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="annual-donation-wrap">
                                <a class='e-primary-btn has-icon' href=''>
                                    Devenir partenaire
                                    <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                                class="fa-regular fa-arrow-right"></i></span></span>
                                </a>
                                <div class="rating-wrap">
                                    <div class="star-rating">
                    
                                        <div class="stars">
                                            <i class="fa-solid fa-star-sharp"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                            <i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                <!-- company-achievements start -->
                <div class="company-achievements" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="achievement">
                        <i class="fa-light fa-chart-mixed"></i>
                        <h2>
                            <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="9">0</span>
                        </h2>
                        <p>Projets en cours</p>
                    </div>
                    <div class="achievement">
                        <i class="fa-light fa-lightbulb-exclamation-on"></i>
                        <h2>
                            <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="4">0</span>+
                        </h2>
                        <p>Solution numériques</p>
                    </div>
                    <div class="achievement">
                        <i class="fa-light fa-thumbs-up"></i>
                        <h2>
                            <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="1000">0</span>k
                        </h2>
                        <p>Plants plantées</p>
                    </div>
                    <div class="achievement">
                        <i class="fa-light fa-users-medical"></i>
                        <h2>
                            <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="3">0</span>+
                        </h2>
                        <p>Partenaires</p>
                    </div>
                    </div>
                <!-- company-achievements end -->
            </div>
        </section>
        <!-- why-us-section end -->
    </div>

    <!-- about-us-section-3 start -->
    <section class="about-us-section-3" style="
          background-image: url({% static 'assets/img/bg/why-us-bg.webp' %}),
            url({% static 'assets/img/bg/about-us-bg.webp' %});
        ">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 adjusted-margin">
                    <div class="about-us-content adjusted-padding" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="200">
                        <div class="common-subtitle">
                            <img src="{% static 'assets/img/icons/icon-2.svg' %}" alt="icon-2" />
                            <span>Our History</span>
                        </div>
                        <div class="common-title text-start">
                            <h2>Journey Was Started</h2>
                        </div>
                        <div class="c-tabs-wrapper">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="c-tab-1" data-bs-toggle="tab"
                                        data-bs-target="#c-tab-1-pane" type="button" role="tab"
                                        aria-controls="c-tab-1-pane" aria-selected="true">
                                        2020
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="c-tab-2" data-bs-toggle="tab"
                                        data-bs-target="#c-tab-2-pane" type="button" role="tab"
                                        aria-controls="c-tab-2-pane" aria-selected="false">
                                        2021
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="c-tab-3" data-bs-toggle="tab"
                                        data-bs-target="#c-tab-3-pane" type="button" role="tab"
                                        aria-controls="c-tab-3-pane" aria-selected="false">
                                        2022
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="c-tab-4" data-bs-toggle="tab"
                                        data-bs-target="#c-tab-4-pane" type="button" role="tab"
                                        aria-controls="c-tab-4-pane" aria-selected="false">
                                        2023
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="c-tab-1-pane" role="tabpanel"
                                    aria-labelledby="c-tab-1" tabindex="0">
                                    <div class="tab-content">
                                        <div class="year">
                                            <h6>Year 2020</h6>
                                        </div>
                                        <div class="reward">
                                            <h5>Got First Reward From (NYC)</h5>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Despite applying for three times and even hiring a
                                                lawyer to assist with the process. Morgan was unable
                                                to get authorization’ to fly to the USA for the
                                                premiere of her film about a factory-farmed pig.
                                            </p>
                                        </div>
                                        <div class="annual-donation-wrap">
                                            <a class='e-primary-btn has-icon' href='project.html'>
                                                See Our Achievement
                                                <span class="icon-wrap">
                                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                                            class="fa-regular fa-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="c-tab-2-pane" role="tabpanel" aria-labelledby="c-tab-2"
                                    tabindex="0">
                                    <div class="tab-content">
                                        <div class="year">
                                            <h6>Year 2021</h6>
                                        </div>
                                        <div class="reward">
                                            <h5>Got First Reward From (NYC)</h5>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Despite applying for three times and even hiring a
                                                lawyer to assist with the process. Morgan was unable
                                                to get authorization’ to fly to the USA for the
                                                premiere of her film about a factory-farmed pig.
                                            </p>
                                        </div>
                                        <div class="annual-donation-wrap">
                                            <a class='e-primary-btn has-icon' href='project.html'>
                                                See Our Achievement
                                                <span class="icon-wrap"><span class="icon"><i
                                                            class="fa-regular fa-arrow-right"></i><i
                                                            class="fa-regular fa-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="c-tab-3-pane" role="tabpanel" aria-labelledby="c-tab-3"
                                    tabindex="0">
                                    <div class="tab-content">
                                        <div class="year">
                                            <h6>Year 2022</h6>
                                        </div>
                                        <div class="reward">
                                            <h5>Got First Reward From (NYC)</h5>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Despite applying for three times and even hiring a
                                                lawyer to assist with the process. Morgan was unable
                                                to get authorization’ to fly to the USA for the
                                                premiere of her film about a factory-farmed pig.
                                            </p>
                                        </div>
                                        <div class="annual-donation-wrap">
                                            <a class='e-primary-btn has-icon' href='project.html'>
                                                See Our Achievement
                                                <span class="icon-wrap">
                                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                                            class="fa-regular fa-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="c-tab-4-pane" role="tabpanel" aria-labelledby="c-tab-4"
                                    tabindex="0">
                                    <div class="tab-content">
                                        <div class="year">
                                            <h6>Year 2023</h6>
                                        </div>
                                        <div class="reward">
                                            <h5>Got First Reward From (NYC)</h5>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Despite applying for three times and even hiring a
                                                lawyer to assist with the process. Morgan was unable
                                                to get authorization’ to fly to the USA for the
                                                premiere of her film about a factory-farmed pig.
                                            </p>
                                        </div>
                                        <div class="annual-donation-wrap">
                                            <a class='e-primary-btn has-icon' href='project.html'>
                                                See Our Achievement
                                                <span class="icon-wrap">
                                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                                            class="fa-regular fa-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="c-tab-5-pane" role="tabpanel" aria-labelledby="c-tab-5"
                                    tabindex="0">
                                    <div class="tab-content">
                                        <div class="year">
                                            <h6>Year 2024</h6>
                                        </div>
                                        <div class="reward">
                                            <h5>Got First Reward From (NYC)</h5>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Despite applying for three times and even hiring a
                                                lawyer to assist with the process. Morgan was unable
                                                to get authorization’ to fly to the USA for the
                                                premiere of her film about a factory-farmed pig.
                                            </p>
                                        </div>
                                        <div class="annual-donation-wrap">
                                            <a class='e-primary-btn has-icon' href='project.html'>
                                                See Our Achievement
                                                <span class="icon-wrap">
                                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                                            class="fa-regular fa-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-us-section-3 end -->

    <!-- volunteer-section start -->
    <section class="volunteer-section p-t-120 p-b-120 p-t-xs-80 p-b-xs-80" style="background-color: #f8f7f0">
        <div class="container">
            <div class="section-top-13">
                <div class="left">
                    <div class="common-subtitle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <img src="{% static 'assets/img/icons/icon-2.svg' %}" alt="icon-2" />
                        <span>Notre équipe</span>
                    </div>
                    <div class="common-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <h2></h2>
                    </div>
                </div>
                <div class="right">
                    <div class="contact-details" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <div class="details-btn">
                            <a class='e-primary-btn has-icon' href='{% url "team_list" %}'>
                                Voir plus
                                <span class="icon-wrap">
                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                            class="fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="join-us-btn">
                            <img src="{% static 'assets/img/shapes/shape-12.webp' %}" alt="shape-12" />
                            <a class='review-btn' href='be-volunteer.html'>
                                <span>Devenir partenaires</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    {% if team %}
                    {% for member in team %}
                    <div class="volunteer-card-4">
                        <a href='{% url "member_detail" member.id %}'>
                            <div class="thumb">
                                <img src="{{ member.photo.url }}" alt="thumb-20" />
                            </div>
                            <div class="author-info">
                                <h5>{{ member.name }}</h5>
                                <p>{{ member.role }}</p>
                            </div>
                        </a>
                        <div class="socials">
                            <button class="share-button">
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="social-links">
                                <a href="{{ member.facebook }}">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="{{ member.twitter }}">
                                    <i class="fab fa-x-twitter"></i>
                                </a>
                                <a href="{{ member.instagram }}">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h2>Aucun membre trouvé</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- volunteer-section end -->

    <!-- testimonial start -->

    <!-- testimonial end -->

    <!-- major-partners start -->
    <section class="major-partners p-t-80 p-b-140 p-b-xs-80">
        <div class="container">
            <div class="partners-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="line-right">
                    <img src="{% static 'assets/img/shapes/shape-4.webp' %}" alt="shape-4" />
                </div>
                <h3>Major Partners</h3>
                <div class="line">
                    <img src="{% static 'assets/img/shapes/shape-4.webp' %}" alt="shape-4" />
                </div>
            </div>
            <div class="row p-t-60 p-b-60" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="col-xl-12">
                    <div class="partner-marquee">
                        <div class="partner-marquee-layout">
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-2.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-3.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-4.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-5.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-6.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-7.webp' %}" alt="partner-logo" />
                            </div>
                        </div>
                        <div class="partner-marquee-layout">
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-2.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-3.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-4.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-5.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-6.webp' %}" alt="partner-logo" />
                            </div>
                            <div class="partner-1">
                                <img src="{% static 'assets/img/logo/logo-7.webp' %}" alt="partner-logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner-btn text-center">
                <a class='e-primary-btn has-icon' data-aos-delay='600' data-aos-duration='1000' data-aos='fade-up'
                    href='contact.html'>
                    Become a Partner
                    <span class="icon-wrap">
                        <span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                class="fa-regular fa-arrow-right"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="contact-info-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-info-layout">
                        <a href="mailto:support.econest@gmail.com" class="contact-info active">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>
                            <h3>support.econest@gmail.com</h3>
                            <p>Send a Email</p>
                        </a>
                        <a href="tel:+70264566579" class="contact-info">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-phone-arrow-up-right"></i>
                                </div>
                            </div>
                            <h3>+70 264 566 579</h3>
                            <p>Any Time Call Us</p>
                        </a>
                        <a href="about.html#" class="contact-info">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                            </div>
                            <h3>Jones Street, New York, USA</h3>
                            <p>Our Address</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-info-section end -->
</main>


{% endblock %}