{% extends 'base/base.html' %}
{% load static %}



{% block content %}
    <section class="cs_page_heading cs_style_1 cs_bg_filed_filed cs_heading_bg"
        data-src="{% static 'assets/img/about_heading_bg.jpg' %}">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Articles</li>
            </ol>
            <h1 class="cs_page_title mb-0 cs_fs_80 wow fadeInUp">
                {% if category %}
                    Articles - {{ category.name }}
                {% else %}
                    Latest Articles
                {% endif %}
            </h1>
        </div>
    </section>
    <!-- End Page Heading Sectoin -->
    <!-- Start Gallery Section -->
    <section>
        <div class="cs_height_100 cs_height_lg_70"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cs_post_1_list">
                        {% for article in articles %}
                        <div class="cs_post cs_style_1">
                            <a href="{% url 'article_detail' article.slug %}" class="cs_post_thumb cs_radius_15">
                                {% if article.media_article.exists %}
                                    {% for media in article.media_article.all %}
                                        {% if media.media_type == 'image' and media.is_featured and media.image %}
                                            <img src="{{ media.image.url }}" alt="{{ article.title }}" class="w-100 cs_radius_15">
                                        {% endif %}
                                    {% empty %}
                                        <img src="{% static 'assets/img/post_3.jpg' %}" alt="{{ article.title }}" class="w-100 cs_radius_15">
                                    {% endfor %}
                                {% else %}
                                    <img src="{% static 'assets/img/post_3.jpg' %}" alt="{{ article.title }}" class="w-100 cs_radius_15">
                                {% endif %}
                            </a>
                            <div class="cs_post_info">
                                <div class="cs_post_meta cs_style_1">
                                    <span class="cs_posted_by">{{ article.published_at|date:"d M Y" }}</span>
                                    {% if article.category %}
                                        <a href="{% url 'article_list_by_category' article.category.slug %}" class="cs_post_avatar">{{ article.category.name }}</a>
                                    {% endif %}
                                </div>
                                <h2 class="cs_post_title cs_fs_40">
                                    <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                                </h2>
                                <div class="cs_post_sub_title">
                                    {% if article.short_description %}
                                        {{ article.short_description }}
                                    {% else %}
                                        {{ article.description_1|truncatechars:150 }}
                                    {% endif %}
                                </div>
                                <a href="{% url 'article_detail' article.slug %}" class="cs_btn cs_style_2 cs_bold cs_heading_color">Voir plus</a>
                            </div>
                        </div>
                        {% empty %}
                        <div class="cs_post cs_style_1">
                            <div class="cs_post_info">
                                <h2 class="cs_post_title cs_fs_40">Aucun article trouvé</h2>
                                <p>Il n'y a pas encore d'articles dans cette catégorie.</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="cs_height_60 cs_height_lg_40"></div>
                    {% if articles.has_other_pages %}
                    <ul class="cs_pagination_box cs_center cs_mp_0">
                        {% if articles.has_previous %}
                        <li>
                            <a class="cs_pagination_item cs_center" href="?page={{ articles.previous_page_number }}">
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 1.272L2.44884 6L7 10.728L5.77558 12L0 6L5.77558 0L7 1.272Z" fill="currentColor"></path>
                                </svg>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in articles.paginator.page_range %}
                            {% if articles.number == num %}
                                <li><a class="cs_pagination_item cs_center active" href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
                                <li><a class="cs_pagination_item cs_center" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if articles.has_next %}
                        <li>
                            <a href="?page={{ articles.next_page_number }}" class="cs_pagination_item cs_center">
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1.272L4.55116 6L0 10.728L1.22442 12L7 6L1.22442 0L0 1.272Z" fill="currentColor"></path>
                                </svg>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    <div class="cs_sidebar cs_right_sidebar">
                        <div class="cs_sidebar_item widget_search">
                            <form class="cs_sidebar_search" action="#">
                                <input type="text" placeholder="Search...">
                                <button class="cs_sidebar_search_btn">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.4351 10.0629H10.7124L10.4563 9.81589C11.3528 8.77301 11.8925 7.4191 11.8925 5.94625C11.8925 2.66209 9.23042 0 5.94625 0C2.66209 0 0 2.66209 0 5.94625C0 9.23042 2.66209 11.8925 5.94625 11.8925C7.4191 11.8925 8.77301 11.3528 9.81589 10.4563L10.0629 10.7124V11.4351L14.6369 16L16 14.6369L11.4351 10.0629ZM5.94625 10.0629C3.66838 10.0629 1.82962 8.22413 1.82962 5.94625C1.82962 3.66838 3.66838 1.82962 5.94625 1.82962C8.22413 1.82962 10.0629 3.66838 10.0629 5.94625C10.0629 8.22413 8.22413 10.0629 5.94625 10.0629Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="cs_sidebar_item widget_categories">
                            <h4 class="cs_sidebar_widget_title">Categories</h4>
                            <ul>
                                {% for cat in categories %}
                                <li class="cat-item">
                                    <a href="{% url 'article_list_by_category' cat.slug %}">
                                        <i class="fa-solid fa-link"></i>{{ cat.name }}
                                        <span class="cat-count">({{ cat.article_count }})</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="cs_sidebar_item">
                            <h4 class="cs_sidebar_widget_title">Articles récents</h4>
                            <ul class="cs_recent_posts">
                                {% for recent_article in recent_articles %}
                                <li>
                                    <div class="cs_recent_post">
                                        <a href="{% url 'article_detail' recent_article.slug %}" class="cs_recent_post_thumb">
                                            {% for media in recent_article.media_article.all %}
                                                {% if media.media_type == 'image' and media.is_featured and media.image %}
                                                    <div class="cs_recent_post_thumb_in cs_bg_filed"
                                                        data-src="{{ media.image.url }}"></div>
                                                {% endif %}
                                            {% empty %}
                                                <div class="cs_recent_post_thumb_in cs_bg_filed"
                                                    data-src="{% static 'assets/img/post_2.jpg' %}"></div>
                                            {% endfor %}
                                        </a>
                                        <div class="cs_recent_post_info">
                                            <h3 class="cs_recent_post_title">
                                                <a href="{% url 'article_detail' recent_article.slug %}">{{ recent_article.title|truncatechars:30 }}</a>
                                            </h3>
                                            <div class="cs_recent_post_date cs_primary_40_color">
                                                {{ recent_article.published_at|date:"d M Y" }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="cs_sidebar_item widget_tag_cloud">
                            <h4 class="cs_sidebar_widget_title">Tags</h4>
                            <div class="tagcloud">
                                {% for tag in all_tags %}
                                <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs_height_100 cs_height_lg_70"></div>
    </section>

{% endblock %}
