{% extends 'base/base.html' %}
{% load static %}



{% block content %}
    <section class="cs_page_heading cs_style_1 cs_bg_filed_filed cs_heading_bg"
        data-src="{% static 'assets/img/about_heading_bg.jpg' %}">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'article_list' %}">Articles</a></li>
                <li class="breadcrumb-item active">{{ article.title }}</li>
            </ol>
            <h1 class="cs_page_title mb-0 cs_fs_80 wow fadeInUp">{{ article.title }}</h1>
        </div>
    </section>
    <!-- End Page Heading Sectoin -->
    <!-- Start Gallery Section -->
    <section>
        <div class="cs_height_100 cs_height_lg_70"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cs_post cs_style_1 cs_type_1">
                        <div class="cs_post_thumb cs_radius_15">
                            {% for media in article.media_article.all %}
                                {% if media.media_type == 'image' and media.is_featured and media.image %}
                                    <img src="{{ media.image.url }}" alt="{{ article.title }}" class="w-100 cs_radius_15">
                                {% endif %}
                            {% empty %}
                                <img src="{% static 'assets/img/post_1.jpg' %}" alt="{{ article.title }}" class="w-100 cs_radius_15">
                            {% endfor %}
                        </div>
                        <div class="cs_post_info">
                            <div class="cs_post_meta cs_style_1 cs_ternary_color cs_semi_bold cs_primary_font">
                                <span class="cs_posted_by">{{ article.published_at|date:"d M Y" }}</span>
                                {% if article.category %}
                                    <a href="{% url 'article_list_by_category' article.category.slug %}" class="cs_post_avatar">{{ article.category.name }}</a>
                                {% endif %}
                                {% if article.author %}
                                    <span class="cs_posted_by">Par {{ article.author }}</span>
                                {% endif %}
                            </div>
                            <h2 class="cs_post_title">{{ article.title }}</h2>

                            {% if article.description_1 %}
                            <p>{{ article.description_1 }}</p>
                            {% endif %}

                            {% if article.title_2 %}
                            <h3>{{ article.title_2 }}</h3>
                            {% endif %}

                            {% if article.description_2 %}
                            <p>{{ article.description_2 }}</p>
                            {% endif %}

                            {% for image in article.media_article.all %}
                                {% if image.media_type == 'image' and not image.is_featured and image.image %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ image.image.url }}" alt="{{ image.caption|default:article.title }}" class="cs_radius_15 w-100">
                                            {% if image.caption %}
                                                <p class="text-center mt-2"><small>{{ image.caption }}</small></p>
                                            {% endif %}
                                            <div class="cs_height_35 cs_height_lg_20"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if article.title_3 %}
                            <h3>{{ article.title_3 }}</h3>
                            {% endif %}

                            {% if article.description_3 %}
                            <p>{{ article.description_3 }}</p>
                            {% endif %}

                            {% for video in article.media_article.all %}
                                {% if video.media_type in 'video,youtube,vimeo' %}
                                    <div class="embed-responsive embed-responsive-16by9">
                                        {% if video.media_type == 'youtube' %}
                                            <iframe class="embed-responsive-item" src="{{ video.video_url }}" allowfullscreen></iframe>
                                        {% elif video.media_type == 'vimeo' %}
                                            <iframe class="embed-responsive-item" src="{{ video.video_url }}" allowfullscreen></iframe>
                                        {% else %}
                                            <video class="embed-responsive-item" controls>
                                                <source src="{{ video.video.url }}" type="video/mp4">
                                                Votre navigateur ne supporte pas la lecture de vidéos.
                                            </video>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if article.description_4 %}
                            <p>{{ article.description_4 }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="cs_height_30 cs_height_lg_30"></div>
                    <h2 class="cs_fs_32 mb-0">Leave A Reply</h2>
                    <div class="cs_height_5 cs_height_lg_5"></div>
                    <p class="mb-0">
                        Your email address will not be published. Required fields are
                        marked *
                    </p>
                    <div class="cs_height_40 cs_height_lg_30"></div>
                    <form action="#" class="row">
                        <div class="col-lg-6">
                            <label>Full Name*</label>
                            <input type="text" class="cs_form_field">
                            <div class="cs_height_20 cs_height_lg_20"></div>
                        </div>
                        <div class="col-lg-6">
                            <label>Email*</label>
                            <input type="text" class="cs_form_field">
                            <div class="cs_height_20 cs_height_lg_20"></div>
                        </div>
                        <div class="col-lg-12">
                            <label>Website*</label>
                            <input type="text" class="cs_form_field">
                            <div class="cs_height_20 cs_height_lg_20"></div>
                        </div>
                        <div class="col-lg-12">
                            <label>Write Your Comment*</label>
                            <textarea cols="30" rows="7" class="cs_form_field"></textarea>
                            <div class="cs_height_25 cs_height_lg_25"></div>
                        </div>
                        <div class="col-lg-12">
                            <button class="cs_btn cs_style_1 cs_bold cs_heading_bg cs_white_color">
                                <span>Send Message</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="cs_sidebar cs_right_sidebar">
                        <div class="cs_sidebar_item widget_search">
                            <form class="cs_sidebar_search" action="#">
                                <input type="text" placeholder="Search...">
                                <button class="cs_sidebar_search_btn">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.4351 10.0629H10.7124L10.4563 9.81589C11.3528 8.77301 11.8925 7.4191 11.8925 5.94625C11.8925 2.66209 9.23042 0 5.94625 0C2.66209 0 0 2.66209 0 5.94625C0 9.23042 2.66209 11.8925 5.94625 11.8925C7.4191 11.8925 8.77301 11.3528 9.81589 10.4563L10.0629 10.7124V11.4351L14.6369 16L16 14.6369L11.4351 10.0629ZM5.94625 10.0629C3.66838 10.0629 1.82962 8.22413 1.82962 5.94625C1.82962 3.66838 3.66838 1.82962 5.94625 1.82962C8.22413 1.82962 10.0629 3.66838 10.0629 5.94625C10.0629 8.22413 8.22413 10.0629 5.94625 10.0629Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="cs_sidebar_item widget_categories">
                            <h4 class="cs_sidebar_widget_title">Categories</h4>
                            <ul>
                                {% for cat in categories %}
                                <li class="cat-item">
                                    <a href="{% url 'article_list_by_category' cat.slug %}">
                                        <i class="fa-solid fa-link"></i>{{ cat.name }}
                                        <span class="cat-count">({{ cat.article_count }})</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="cs_sidebar_item">
                            <h4 class="cs_sidebar_widget_title">Articles récents</h4>
                            <ul class="cs_recent_posts">
                                {% for recent_article in recent_articles %}
                                <li>
                                    <div class="cs_recent_post">
                                        <a href="{% url 'article_detail' recent_article.slug %}" class="cs_recent_post_thumb">
                                            {% for media in recent_article.media_article.all %}
                                                {% if media.media_type == 'image' and media.is_featured and media.image %}
                                                    <div class="cs_recent_post_thumb_in cs_bg_filed"
                                                        data-src="{{ media.image.url }}"></div>
                                                {% endif %}
                                            {% empty %}
                                                <div class="cs_recent_post_thumb_in cs_bg_filed"
                                                    data-src="{% static 'assets/img/post_1.jpg' %}"></div>
                                            {% endfor %}
                                        </a>
                                        <div class="cs_recent_post_info">
                                            <h3 class="cs_recent_post_title">
                                                <a href="{% url 'article_detail' recent_article.slug %}">{{ recent_article.title|truncatechars:30 }}</a>
                                            </h3>
                                            <div class="cs_recent_post_date cs_primary_40_color">
                                                {{ recent_article.published_at|date:"d M Y" }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="cs_sidebar_item widget_tag_cloud">
                            <h4 class="cs_sidebar_widget_title">Tags</h4>
                            <div class="tagcloud">
                                {% for tag in all_tags %}
                                <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cs_height_100 cs_height_lg_70"></div>
    </section>

<!-- End Article Detail Section -->
{% endblock %}