{% extends 'bases/base1.html' %}

{% load static %}

{% block content %}

    <section class="breadcrumb-section">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content" style="background-image: url(assets/img/bg/breadcrumb-bg.webp);">
                        <div class="breadcrumb-nav" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <ul>
                                <li><a href='index.html'>Home</a></li>
                                <li><a href='project.html'>Technologie</a></li>
                                <li><a href="project-details.html#">Calcul emprunte carbone</a></li>
                            </ul>
                        </div>
                        <div class="breadcrumb-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <h2>Calcul emprunte carbone</h2>
                        </div>
                        <div class="shape-1">
                            <img src="{% static 'assets/img/shapes/shape-1.webp' %}" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="breadcrumb-thumb">
                        <img src="{% static 'assets/img/35.jpg' %}" alt="thumb">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-section end -->
    
    <!-- services-details-section start -->
    <section class="services-details-section p-t-120 p-b-250 p-t-lg-80 p-t-md-80 p-t-xs-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="details-layout-wrap">
                        <div class="details-content" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                            <div class="thumb-wrap m-b-50"><img alt="thumb" src="{% static 'assets/img/38.jpg' %}"></div>
                            <div class="details-title m-b-15">
                                <h2>Économisez argent et CO₂ avec notre calculateur</h2>
                            </div>
                            <div class="detail-text m-b-30">
                                <p><b>“Quel est l'impact de votre entreprise sur l'environnement ? En quelques étapes simples, vous pouvez mesurer votre
                                empreinte carbone et commencer à faire une différence significative.
                                    ”</b></p>
                                <p>Une empreinte carbone correspond à la quantité totale de gaz à effet de serre (comme le CO₂) produite par les actions
                                humaines. Selon Pawprint.eco, l'empreinte carbone moyenne par personne au Royaume-Uni est de 12,7 tonnes de CO₂ par an,
                                et aux États-Unis, elle est de 21 tonnes.
                                
                                D’ici 2050, l’empreinte carbone mondiale moyenne annuelle doit tomber en dessous de 2 tonnes par personne afin d’avoir
                                les meilleures chances d’atteindre les objectifs del’Accord de Paris des Nations Unies.</p>
                            </div>
                            <div class="details-title m-b-15">
                                <h2>Pourquoi mesurer votre empreinte carbone ?</h2>
                            </div>
                            <div class="detail-text m-b-25">
                                <p>Les émissions mondiales de carbone ont atteint des niveaux records. Sans action pour inverser cette tendance,
                                l’augmentation des impacts environnementaux qui en résulterait pourrait conduire à une perte catastrophique de la
                                biodiversité.
                                
                                Équilibrer votre empreinte carbone signifie investir dans une planète plus saine et un avenir meilleur et plus durable.</p>
                            </div>
                            <div class="details-title m-b-15">
                                <h2>4 mesures pour réduire votre empreinte carbone</h2>
                            </div>
                            <div class="list-wrapper m-b-40">

                                
                                <ul class="list-wrap">
                                    
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <p>Calculer votre empreinte carbone</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <p> Compenser votre empreinte carbone avec des actions durables</p>
                                    </li>
                                </ul>
                                <ul class="list-wrap">
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <p>Réduire votre empreinte carbone</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                        <p>Célébrer votre engagement</p>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="gallery-slider-active m-b-50">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="banner-slide-wrap">
                                                <div class="thumb">
                                                    <img alt="thumb" src="{% static 'assets/img/39.jpg' %}"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="banner-slide-wrap">
                                                <div class="thumb">
                                                    <img alt="thumb" src="{% static 'assets/img/20.jpg' %}"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="banner-slide-wrap">
                                                <div class="thumb">
                                                    <img alt="thumb" src="{% static 'assets/img/32.jpg' %}"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-pagination-wrap">
                                    <div class="gallery-pagination"></div>
                                </div>
                            </div>
                            <div class="testimonial-wrap m-b-60">
                                <div class="icon"><img alt="icon" src="{% static 'assets/img/icons/icon-17.svg' %}"></div>
                                <p class="review">Mesurer les émissions, c’est ouvrir la voie à la réduction. Ce qui n’est pas compté ne peut être corrigé.</p>
                                <div class="author">
                                    <h3>Jean-Marc Jancovici</h3>
                                    <p>ingénieur et expert climat</p>
                                </div>
                            </div>
                            <div class="details-title m-b-15">
                                <h2>Montrez votre responsabilité environnementale</h2>
                            </div>
                            <div class="detail-text m-b-20">
                                <p>La mesure de votre empreinte carbone et le traitement de vos émissions peuvent présenter de nombreux avantages pour
                                votre entreprise. Qu'il s'agisse de réaliser des économies, d'améliorer la fidélité à la marque, de s'aligner sur les
                                réglementations ou d'atténuer les risques, tout le monde y gagne, votre entreprise et l'environnement. Découvrez
                                d'autres avantages de notre calculateur de carbone pour les entreprises dans nos articles.</p>
                            </div>
                            <div class="list-wrapper m-b-50">
                                <ul class="list-wrap">
                                    <li>
                                        
                                        <p>Lorsque vous analysez la quantité d'énergie et de ressources consommée par vos activités, vous pouvez identifier les
                                        domaines dans lesquels il est possible de réaliser des économies de coûts et de ressources..</p>
                                    </li>
                                    <li>
                                        <p>Que vous soyez une entreprise qui souhaite réduire ses émissions de carbone ou une association qui souhaite promouvoir des pratiques durables, notre calculateur de carbone pour les entreprises est un outil puissant et flexible.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="view-project-wrap">
                                <div class="previous-project">
                                    <div class="project-thumb-wrap"><img alt="thumb" src="{% static 'assets/img/thumbs/thumb-112.webp' %}">
                                    </div>
                                    <div class="project-content-wrap">
                                        <div class="view-project-btn">
                                            <a href='project.html'><span class="icon-1"><i
                                                        class="fa-regular fa-arrow-right"></i></span> Previous Project</a>
                                        </div>
                                        <div class="project-title">
                                            <h5>Nos projets</h5>
                                        </div>
                                        <div class="published-date">
                                            <p>26 September, 2023</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-project">
                                    <div class="project-thumb-wrap"><img alt="thumb" src="{% static 'assets/img/thumbs/thumb-113.webp' %}">
                                    </div>
                                    <div class="project-content-wrap">
                                        <div class="view-project-btn">
                                            <a href='project.html'>Produits<span class="icon-2"><i
                                                        class="fa-regular fa-arrow-right"></i></span></a>
                                        </div>
                                        <div class="project-title">
                                            <h5>Credit carbone</h5>
                                        </div>
                                        <div class="published-date">
                                            <p> <a href="">En savoir plus...</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sidebar" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                            <div class="detail-sidebar-inner">
                                <div class="s-widget-wrap m-b-30">
                                    <div class="w-title">
                                        <h3>Plus d'Information</h3>
                                        <div class="bar-wrap">
                                            <div class="bar-1"></div>
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="project-info-wrap">
                                        <div class="project-text">
                                            <p>Importance des calculs de carbone</p>
                                        </div>
                                        <p>Grâce à notre variété de solutions basées sur la nature, vous pouvez faire correspondre vos initiatives à vos valeurs et
                                        montrer à vos parties prenantes que vous vous engagez en faveur de l'environnement. Nos projets présentent de nombreux
                                        avantages environnementaux et socio-économiques, notamment la restauration des habitats, l'enrichissement de la
                                        biodiversité.</p>
                                    </div>
                                </div>
                                <div class="s-widget-wrap">
                                    <div class="w-title">
                                        <h3>Nous suivre</h3>
                                        <div class="bar-wrap">
                                            <div class="bar-1"></div>
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="socials">
                                        <div class="social-links">
                                            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a> <a
                                                href="https://twitter.com"><i class="fab fa-x-twitter"></i></a> <a
                                                href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> <a
                                                href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-shape-1"><img alt="shape-31" src="{% static 'assets/img/shapes/shape-31.webp' %}"></div>
    </section>
{% endblock %}