{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section class="cs_page_heading cs_style_1 cs_bg_filed cs_heading_bg"
    data-src="{% static 'assets/img/service_heading_bg.jpg' %}">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Maison</a></li>
            <li class="breadcrumb-item active">Nos Realisations</li>
        </ol>
        <h1 class="cs_page_title mb-0 cs_fs_80 wow fadeInUp">NOS REALISATIONS</h1>
    </div>
</section>

<div class="cs_height_100 cs_height_lg_70"></div>
<div class="container">

    <div class="row cs_gap_y_40 cs_gap_x_40">
        {% for category in categories %}
        <div class=" col-lg-6">
            <div class="cs_card cs_style_2">
                <a href="{% url 'galerie_detail' category_slug=category.slug galery_slug=category.galeries.first.slug %}" class="cs_card_thumb">
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid">
                    {% else %}
                    <img src="{% static 'assets/img/project_thumb_1.jpg' %}" alt="{{ category.name }}"
                        class="img-fluid">
                    {% endif %}
                </a>
                <div class="cs_card_info">
                    <h2 class="cs_card_title cs_fs_32 cs_white_color cs_bold cs_mb_8">
                        <a href="{% url 'galerie_detail' category_slug=category.slug galery_slug=category.galeries.first.slug %}">{{ category.name }}</a>
                    </h2>
                    {% if category.description %}
                    <p class="cs_card_subtitle mb-0 cs_white_color">{{ category.description|truncatewords:20 }}</p>
                    {% endif %}
                </div>
                <a href="{% url 'galerie_detail' category_slug=category.slug galery_slug=category.galeries.first.slug %}"
                    class="cs_arrow_btn cs_size_lg cs_center cs_white_bg cs_heading_color">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.3846 0H0.615385C0.275692 0 0 0.275692 0 0.615385C0 0.955077 0.275692 1.23077 0.615385 1.23077H13.8988L0.180308 14.9495C-0.06 15.1898 -0.06 15.5794 0.180308 15.8197C0.300615 15.94 0.457846 16 0.615385 16C0.772923 16 0.930461 15.94 1.05046 15.8197L14.7692 2.10092V15.3846C14.7692 15.7243 15.0449 16 15.3846 16C15.7243 16 16 15.7243 16 15.3846V0.615385C16 0.275692 15.7243 0 15.3846 0Z"
                            fill="currentColor"></path>
                    </svg>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>Aucune catégorie de galerie disponible pour le moment.</p>
        </div>

    </div>
    {% endfor %}
</div>
<div class="cs_height_100 cs_height_lg_70"></div>


{% endblock %}