{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <section class="cs_page_heading cs_style_1 cs_bg_filed cs_heading_bg" data-src="{% static 'assets/img/about_heading_bg.jpg' %}">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
            </ol>
            <h1 class="cs_page_title mb-0 cs_fs_80 wow fadeInUp">CONTACT US</h1>
        </div>
    </section>
    <!-- End Page Heading Sectoin -->
    <!-- Start Contact Section -->
    <div class="cs_height_100 cs_height_lg_70"></div>
    <div class="container">
        <div class="row cs_gap_y_40">
            <div class="col-lg-5">
                <div class="cs_map">
                    <iframe id="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96652.27317354927!2d-74.33557928194516!3d40.79756494697628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a82f1352d0dd%3A0x81d4f72c4435aab5!2sTroy+Meadows+Wetlands!5e0!3m2!1sen!2sbd!4v1563075599994!5m2!1sen!2sbd"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="cs_pl_40">
                    <div class="cs_section_heading cs_style_4 cs_mb_25">
                        <h2 class="cs_section_title cs_fs_32 cs_bold mb-0">SEND US A <span>MESSAGE</span></h2>
                    </div>
                    <form method="POST" class="row cs_gap_y_24" id="cs_form">
                        {% csrf_token %}
                        <div class="col-sm-6">
                            <input type="text" name="name" class="cs_form_field" placeholder="Name" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="cs_form_field" placeholder="Email" required>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" name="subject" class="cs_form_field" placeholder="Subject" required>
                        </div>
                        <div class="col-lg-12">
                            <textarea class="cs_form_field" name="message" placeholder="Message" rows="5"
                                required></textarea>
                        </div>
                        <div class="col-lg-12">
                            <button class="cs_btn cs_style_1 cs_type_1 cs_bold cs_heading_bg cs_white_color w-100"
                                type="submit">Send Message</button>
                            <div id="cs_result" class="cs_heading_color"></div>
                        </div>
                    </form>
                    <div class="cs_height_60 cs_height_lg_40"></div>
                    <div class="cs_section_heading cs_style_4 cs_mb_25">
                        <h2 class="cs_section_title cs_fs_32 cs_bold mb-0">GET IN <span>TOUCH</span></h2>
                    </div>
                    <ul class="cs_contact_info cs_mp_0">
                        <li>
                            <p class="mb-0">EMAIL</p>
                            <h4 class="mb-0 cs_fs_20 cs_bold">{{ site_settings.email_contact|default:'contact@liyok.com' }}</h4>
                        </li>
                        <li>
                            <p class="mb-0">PHONE</p>
                            <h4 class="mb-0 cs_fs_20 cs_bold">{{ site_settings.phone_contact|default:'+123 456 7890' }}</h4>
                        </li>
                        <li>
                            <p class="mb-0">ADDRESS</p>
                            <h4 class="mb-0 cs_fs_20 cs_bold">{{ site_settings.address|default:'123 Any Where St, Any City, Any State' }}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cs_height_100 cs_height_lg_70"></div>


{% endblock %}