{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<section class="cs_page_heading cs_style_1 cs_bg_filed cs_heading_bg"
    data-src="{% static 'assets/img/about_heading_bg.jpg' %}">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{% url 'galery_categories' %}">Galerie</a></li>
            <li class="breadcrumb-item"><a
                    href="{% url 'galerie_detail' category_slug=galerie.categorie.slug galery_slug=galerie.categorie.galeries.first.slug %}">{{ galerie.categorie.name }}</a></li>
            <li class="breadcrumb-item active">{{ galerie.titre }}</li>
        </ol>
        <h1 class="cs_page_title mb-0 cs_fs_80 wow fadeInUp">{{ galerie.titre }}</h1>
    </div>
</section>
<!-- Gallery Detail -->
<div class="cs_height_100 cs_height_lg_70"></div>
<div class="container">
    {% if galerie.description %}
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto text-center">
            <p class="lead">{{ galerie.description }}</p>
        </div>
    </div>
    {% endif %}

    <div class="cs_isotop cs_style_1 cs_isotop_col_3 cs_has_gutter_24 cs_lightgallery">
        <div class="cs_grid_sizer"></div>
        {% for image in images %}
        <div class="cs_isotop_item">
            <a href="{{ image.image.url }}" class="cs_gallery cs_style_1 cs_center cs_gallery_item">
                <img src="{{ image.image.url }}" alt="{{ image.legende|default:galerie.titre }}">
                {% if image.legende %}
                <span class="cs_gallery_info_wrap cs_center">
                    <span class="cs_gallery_info text-center cs_center">
                        <span class="cs_white_color cs_fs_16 cs_bold cs_mb_4 d-block">{{ image.legende }}</span>
                        {% if image.date_creation %}
                        <span class="cs_white_color d-block">{{ image.date_creation|date:"Y" }}</span>
                        {% endif %}
                    </span>
                </span>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="cs_height_100 cs_height_lg_70"></div>
{% endblock %}