{% extends 'bases/base1.html' %}

{% load static %}

{% block content %}

<main>
    <!-- breadcrumb-section start -->
    <section class="breadcrumb-section">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content" style="background-image: url(assets/img/bg/breadcrumb-bg.webp)">
                        <div class="breadcrumb-nav" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                            <ul>
                                <li>
                                    <a href='index.html'>Home</a>
                                </li>
                                <li>
                                    <a href="project.html#">Projects</a>
                                </li>
                            </ul>
                        </div>
                        <div class="breadcrumb-title" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            <h2>Our Projects</h2>
                        </div>
                        <div class="shape-1"><img alt="shape" src="{% static 'assets/img/shapes/shape-1.webp' %}"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="breadcrumb-thumb"><img alt="thumb" src="{% static 'assets/img/thumbs/thumb-1.webp' %}"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-section end -->

    <!-- services-section start -->
    <section class="services-section p-t-100 p-b-120">
        <div class="container">
            <div class="row justify-content-center text-center m-b-50 m-b-xs-40">
                <div class="col-xl-8">
                    <div class="common-subtitle" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                        <img alt="icon-1" src="{% static 'assets/img/icons/icon-2.svg' %}"> <span>Our Camping</span>
                    </div>
                    <div class="common-title m-b-0" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                        <h2>Projects We Have Completed</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="col-xl-6 m-b-30">
                    <div class="project-card style-2 style-service">
                        <div class="thumb">
                            <a href='project-details.html'><img alt="thumb-63"
                                    src="{% static 'assets/img/thumbs/thumb-74.webp' %}"></a>
                            <div class="tag">
                                <p>No - 02</p>
                            </div>
                            <div class="content">
                                <h5>Forest Cleaning</h5>
                                <p>Energy consulting involves providing of advice and guidance on energy</p>
                                <div class="join-us">
                                    <a class='e-primary-btn has-icon' href='project-details.html'>Read More <span
                                            class="icon-wrap"><span class="icon"><i
                                                    class="fa-regular fa-arrow-right"></i> <i
                                                    class="fa-regular fa-arrow-right"></i></span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center m-t-20">
                <div class="col-xl-6">
                    <div class="project-pagination">
                        <ul>
                            <li class="active">
                                <a href="project.html#">01</a>
                            </li>
                            <li>
                                <a href="project.html#">02</a>
                            </li>
                            <li>
                                <a href="project.html#">03</a>
                            </li>
                            <li class="icon">
                                <a href="project.html#"><i class="fa-regular fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-section end -->

    <!-- contact-info-section start -->
    <section class="contact-info-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-info-layout">
                        <a class="contact-info active" href="mailto:support.econest@gmail.com">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>
                            <h3>support.econest@gmail.com</h3>
                            <p>Send a Email</p>
                        </a> <a class="contact-info" href="tel:+70264566579">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-phone-arrow-up-right"></i>
                                </div>
                            </div>
                            <h3>+70 264 566 579</h3>
                            <p>Any Time Call Us</p>
                        </a> <a class="contact-info" href="project.html#">
                            <div class="icon-wrap">
                                <div class="icon-shape"></div>
                                <div class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                            </div>
                            <h3>Jones Street, New York, USA</h3>
                            <p>Our Address</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-info-section end -->
</main>

{% endblock %}